---
title: Find Influencers
---

<div class="container main-content text-center">
  <h1>Discover and connect with the people your audience listens to.</h1>
  <%=
    link_to 'Start Your Free Trial', '/pricing.html',
    class: 'btn btn-default btn-lg cta',
    style: 'margin-top: 0px'
  %>

  <div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="subtitle">
        Finding the right influencers to represent and grow your brand is difficult.
        <%= I18n.t(:company_name) %> makes it painless to find the influencers that your
        audience follows and responds to.
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div id="ui-preview">
    <%= image_tag 'ui-preview.png' %>
  </div>
</div>

<div class="container-fluid divider">
  <div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <h2>Automate Your Search.</h2>
        <p>
          Don’t spend hours searching through Instagram profiles.
          <%= I18n.t(:company_name) %> will search through all relevant profiles
          for you and return a tailored list of influencers based on the
          information you provide.
        </p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <h2>No Limits, No Commission.</h2>
      <p>
        Influencers do not have to signup to be included in our platform and we
        don’t charge commission for matchmaking you with the ideal influencers.
      </p>
    </div>

    <div class="card">
      <h2>Exclusively For Instagram.</h2>
      <p>
        Instagram is the most powerful influencer marketing platform today.
        <%= I18n.t(:company_name) %> has been built from the ground up to be the
        best influencer recommendation engine for Instagram.
      </p>
    </div>

    <div class="text-center">
      <%=
        link_to 'See Why Our Customers Love Us', '/pricing.html',
        class: 'btn btn-default btn-lg cta',
        style: 'margin-top: 0px'
      %>
    </div>

  </div>
  <div class="col-sm-2"></div>
</div>
